<div class="home-container">
  <header class="app-header">
    <div class="app-title">CandiTrack</div>
    <div class="user-info">
      <span class="username">{{ username }}</span>
      <button (click)="logout()">Déconnexion</button>
    </div>
  </header>

  <main class="app-main">
    <nav class="sidebar">
      <ul>
        <li><a routerLink="/candidates">Candidats</a></li>
        <li><a routerLink="/dashboard">Tableau de bord</a></li>
        <li><a routerLink="/stats">Statistiques</a></li>
      </ul>
    </nav>
    <section class="main-content">
      <!--<router-outlet></router-outlet> -->
    </section>
  </main>
</div>
